#root {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  height: calc(100vh - 80px);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body,
#root,
.container-fluid {
  height: 100%;
}

.row {
  height: calc(100% - 80px);
  margin: 0;
  /* 80px = altura del header */
}

.container-fluid {
  padding: 0;
}

.contenedor-flex {
  display: flex;
  /* Activa Flexbox */
  width: 100%;
  /* Ocupa todo el ancho disponible */
}

.columna-30 {
  flex: 0 0 30%;
  /* Base fija del 30%, no crece ni encoge */
  /* O puedes usar: width: 30%; */
  background-color: #f0f0f0;
  /* Para visualizar */
  padding: 15px;
}

.columna-70 {
  flex-grow: 1;
  /* Crece para ocupar el espacio restante */
  /* O puedes usar: width: 70%; */
  background-color: #e0e0e0;
  /* Para visualizar */
  padding: 15px;
}

.roles .acordeon {
  position: sticky; 
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}
